body {
  background: #000;
  font-family: "helvetica";
  font-style: normal;
  font-size: 15px;
  color: #fff;
  border: 0px;
}

form {
  max-width: 200px;
  background: #fff;
  margin: auto;
  padding: 50px;
}
button {
  background-color: brown;
  border: 0px;
  padding: 8px 8px;
  font-style: normal;
  font-size: 12px;
  color: white;
  border-radius: 16px;
}
