body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: royalblue;
}
h2 {
  background-color: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button {
  background-color: red;
  padding: 8px;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
